@use "../variables";

.container {
  width: 100%;
  max-width: calc(
    var(variables.$container-max) + 2 * var(variables.$container-pad)
  );
  margin-inline: auto;
  padding-inline: var(variables.$container-pad);
}

@media (min-width: 768px) {
  .container {
    padding-inline: var(variables.$container-pad-lg);
    max-width: calc(
      var(variables.$container-max) + 2 * var(variables.$container-pad-lg)
    );
  }
}

/* Variants */
.container--narrow {
  $container-max: 48rem;
}
.container--wide {
  $container-max: 84rem;
}
.container--full {
  max-width: none;
}

.bleed-inline {
  margin-inline: calc(-1 * var(variables.$container-pad));
}
@media (min-width: 768px) {
  .bleed-inline {
    margin-inline: calc(-1 * var(variables.$container-pad-lg));
  }
}
